body { font: 12px Arial;}

.tooltip {
    position: absolute;
    min-width: 200px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: #E3E3E3;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    transition: all 0.3s;
}

.color-tag {
  width: 20px;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
}
